body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

header {
  height: 5vh;
  background-color: #1e90ff;
  width: 100vw;
}

header h1 {
  color: white;
  font-size: 2.5vh;
  font-weight: 300;
  position: absolute;
  margin: 0;
  padding: calc(2.5vh / 2);
}

header p {
  float: right;
  color: white;
  margin: 0;
  padding: 1.5vh;
}

button {
  background: #1e90ff;
  color: white;
  padding: 5px 10px 5px 10px;
  border-radius: 3px;
  margin: 0;
  border: 0;
}

#page {
  width: 100vw;
  height: 95vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* # CONNECT FORM # */

#connect-form {
  width: 400px;
}

#connect-form h3 {
  font-size: 2vh;
  font-weight: normal;
  text-align: center;
  margin: 20px;
}

#create-room-btn {
  position: absolute;
  width: 400px;
  padding: 1vh 2vh 1vh 2vh;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#connect-form p {
  width: 400px;
  text-align: center;
  margin-top: 7vh;
  color: grey;
}

#join-room-form {
  width: 400px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#room-code-input {
  padding: 1vh 2vh 1vh 2vh;
  border-radius: 3px 0px 0px 3px;
  width: calc(300px - 4vh);
  margin: 0;
  border: 0;
}

#join-room-btn {
  width: 100px;
  padding: 1vh 2vh 1vh 2vh;
  border-radius: 0px 3px 3px 0px;
}

/* # CHAT # */

#chat {
  width: 80vw;
  padding: 1vw;
  /* background: black; */
  height: 90vh;
}

#chat-loader {
  width: 30vw;
  margin-left: 25vw;
  text-align: center;
  margin-top: 35vh;
}

#chat-box {
  background: #efefef;
  width: 78vw; /* 80vh - 2vh */
  border-radius: 5px;
  height: calc(90vh - 3vw - calc(3vh - 0.4vw));
  padding: 1vw;
  margin-bottom: 1vh;
}

#chat-input {
  width: calc(80vw - 2vw);
  padding: 0.2vw 1vw 0.2vw 1vw;
  border: 0;
  border-radius: 5px;
  margin: 0;
  height: calc(3vh - 0.4vw);
  background: #efefef;
}
